@import url("https://fonts.googleapis.com/css2?family=Rubik&family=Secular+One&display=swap");
/* 
  font-family: 'Rubik', sans-serif;
  font-family: 'Secular One', sans-serif; 
*/

body {
  background-color: #000000;
  color: #ffffff;
  overflow: hidden;
}
